@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-gemunu uppercase;
  }
  h2 {
    @apply text-2xl;
  }

  a {
    @apply font-gemunu uppercase;
  }
  body {
    @apply font-open;
  }
}

a.active {
  @apply text-gega-melon;
}
.movieLinks a.active {
  @apply !text-gega-red;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
